.project
.settings/org.eclipse.core.resources.prefs
.sublime-project
.sublime-workspace

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
notes

libs
node_modules
out
bundle.js