# project files
.project
.settings/org.eclipse.core.resources.prefs
.sublime-project
.sublime-workspace

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

# compiled files
/bundle.js
/script.min.js
/style.min.css
/sprite.min.css
/sprite.min.svg
/cache.json

# dependencies
libs/
bower_components/
jspm_packages/
node_modules/
notes/
out/
packages/

# code coverage
.coverdata/
/.coverrun
/coverage.html
debug/

# chest files
/gulpfile.js
/.bowerrc
/bower.json
/build.js
/.jshintrc