.project
.settings/org.eclipse.core.resources.prefs
.sublime-project
.sublime-workspace

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

/bundle.js

libs/
node_modules/
out/
notes/

/gulpfile.js
/.bowerrc
/bower.json
/build.js
/.jshintrc
