[submodule "dependencies/craftyjs"]
	path = dependencies/craftyjs
	url = https://github.com/craftyjs/Crafty.git
[submodule "dependencies/requirejs"]
	path = dependencies/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "dependencies/jqueryUI"]
	path = dependencies/jqueryUI
	url = https://github.com/jquery/jquery-ui.git
[submodule "dependencies/knockout"]
	path = dependencies/knockout
	url = https://github.com/SteveSanderson/knockout.git
[submodule "dependencies/modernizr"]
	path = dependencies/modernizr
	url = https://github.com/Modernizr/Modernizr.git
[submodule "dependencies/requirejs-hogan"]
	path = dependencies/requirejs-hogan
	url = https://github.com/millermedeiros/requirejs-hogan-plugin.git
