/* Bootstrap base */
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");

/* LeafletJS */
@import url('http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css');

/* Characters stylesheet (Coward) */
@import url('stylesheets/default-theme/character_styling/coward.css');
/* Characters stylesheet (Criminal) */
@import url('stylesheets/default-theme/character_styling/criminal.css');
/* Characters stylesheet (Mother) */
@import url('stylesheets/default-theme/character_styling/mother.css');
/* Characters stylesheet (NextDoorNeighbor) */
@import url('stylesheets/default-theme/character_styling/nextdoorneighbor.css');
/* Characters stylesheet (PsychoticWorker) */
@import url('stylesheets/default-theme/character_styling/psychoticworker.css');
/* Characters stylesheet (StoreOwner) */
@import url('stylesheets/default-theme/character_styling/storeowner.css');
/* Characters stylesheet (StoreOwnerWife) */
@import url('stylesheets/default-theme/character_styling/storeownerwife.css');
/* Characters stylesheet (WomanHelicopterPilot) */
@import url('stylesheets/default-theme/character_styling/womanhelicopterpilot.css');

/* All window stylesheets */
@import url('stylesheets/default-theme/themeroller_styling/windows.css');

/* jQuery UI Base Stylesheet (none-modified) */
@import url('http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css');
/* TODO: Implement or find a CSS CDN fallback system (like requireJS) @import url('dependencies/jqueryUI/themes/base/jquery.ui.all.css'); */

/* Datatables Base stylesheet */
@import url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css');

/* Toastr Base stylesheet */
@import url('http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css');

/* FuelUX stylesheet */
@import url('http://cdn.jsdelivr.net/fuelux/2.4.0/css/fuelux.min.css');

/* Modules stylesheet */
@import url('modules/modules.css');

/* General */
body{
	background-color: black;	
}

/* Bootstrap additions */
i[class*="icon-"] {
    display: inline-block;
    width: 16px;
    margin-right: 1em;
    text-align: center;
}

/* Temporary CSS (To be deleted once botostrap 3 is implemented) */
div.pixel_space {
	height: 64px;
}
div.partial-column {
	position: fixed;
	z-index: 20;
	top: 50px;
	right: 0px;
}
div#profile_partial {
	background-color: #BEBEBE;
	border: 1px solid #505050;
}
div[data-package="highscores"] {
	width: 800px;
}