/* Header */
/* Game information */
#welcome_notice{
	padding-top: 35px;
	color: lightblue;
	text-align: center;
	display: block;
}
#game_name{
	color: black;
}	
#regen_primer_version{
	padding-left: 5px;
	color: yellow;	
}