/* Bootstrap additions */
i[class*="icon-"] {
  display: inline-block;
  width: 16px;
  margin-right: 1em;
  text-align: center;
}
/* Sidebars */
#sidebar_left,
#sidebar_right {
  width: 256px;
  height: 100%;
  margin-top: 50px;
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* Left sidebar */
#sidebar_left {
  left: 0;
}
/* Right sidebar */
#sidebar_right {
  right: 0;
}
/* Empty less file */
/* Temporary CSS (To be deleted once botostrap 3 is implemented) */
div.pixel_space {
  height: 64px;
}
div.partial-column {
  position: fixed;
  z-index: 20;
  top: 50px;
  right: 0px;
}
div#profile_partial {
  background-color: #BEBEBE;
  border: 1px solid #505050;
}
div[data-package="highscores"] {
  width: 800px;
}
#sidebar_left,
#sidebar_right {
  background-color: rgba(64, 64, 64, 0.5);
}
