<a href="#" data-toggle="dropdown" class="dropdown-toggle">Options <b class="caret"></b></a>
<ul class="dropdown-menu">
	<li class="nav-header">{{main_options}}</li>
    <li class="divider"></li>
            	 		
    <!-- Main buttons -->
    <li class="option-item">
        <a href="#" id="debug_toggle" data-toggle="popover" data-content="Click to show or hide debugging tools (Developers only)" data-trigger="hover">
			<span class="label label-warning"><i data-bind="css: currentIcon" class="icon-white"></i></span> Enable/Disable Debugging
		</a>
    </li>
    <li class="option-item">
    	<a href="#" id="audio_toggle" data-toggle="popover" data-content="Click to mute or unmute the background music" data-trigger="hover">
			<span class="label label-info"><i class="icon-volume-off icon-white"></i></span> Mute/unmute background music
		</a>
    </li>
    <li class="option-item">
    	<a href="#" id="header_toggle" data-toggle="popover" data-content="Click to hide or show the header" data-trigger="hover">
			<span class="label"><i class="icon-circle-arrow-up icon-white"></i></span> Hide header
		</a>
	</li>
    <li class="divider"></li>
    <li class="nav-header">{{customize}}</li>
    <li class="divider"></li>
              				
    <!-- Customizations -->
    <li class="option-item">
        <a href="[data-module='controls.PKG']" data-toggle="modal">
			<span class="label label-important"><i class="icon-question-sign icon-white"></i></span> Controls
		</a>
	</li>
	<li class="option-item">
        <a href="[data-module='contentpack.PKG']" data-toggle="modal">
        	<span class="label label-info"><i class="icon-book icon-white"></i></span> Content pack
        </a>
    </li>
    <li class="option-item">
        <a id="packages_list" href="#">
        	<span class="label label-info"><i class="icon-briefcase icon-white"></i></span> Packages
        </a>
    </li>
    <li class="option-item">
        <a href="[data-module='theme.PKG']" data-toggle="modal">
        	<span class="label label-inverse"><i class="icon-eye-open icon-white"></i></span> Theme
        </a>
    </li>
</ul> 