<!-- Main menu -->
<div class="modal-header">
	<h3 id="mainmenu-system-name">Main menu</h3>
</div>
<div class="modal-body">
	<ul class="nav nav-tabs nav-stacked">
		{{#menu_items}}
		<li>
			<p>
				<a href="#highscores_partial" data-toggle="modal"><button class="btn btn-default btn-large btn-block" type="button">{{name}}</button></a>
			</p>
		</li>
		{{/menu_items}}
    </ul>
</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>