<header class="container">
		
	<div data-package="navbar"></div>
	<div class="pixel_space"></div>
	<div id="debug_partial"></div>
			
	<div data-package="characterselection"></div>

	<div id="marquee_partial"></div>

	<div id="points_partial"></div>
</header>

<div id="stage" oncontextmenu="return false;"></div>
<section class="container">
	<div id="maps_partial"></div>
			
	<div class="partial-column">
		<div id="profile_partial"></div>
		<div id="inventory_partial"></div>
	</div>
</section>
		
<footer class="container">	
	<div data-package="sitemap"></div>
	<div data-package="social"></div>
	<div data-package="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="about-system-name" aria-hidden="true"></div>
	<div data-package="gameinfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="gameinfo-system-name" aria-hidden="true"></div>
	<div data-package="mainmenu" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mainmenu-system-name" aria-hidden="true"></div>
	<div data-package="controls" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="controls-system-name" aria-hidden="true"></div>
	<div data-package="contentpack" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contentpack-system-name" aria-hidden="true"></div>
	<div data-package="theme" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="theme-system-name" aria-hidden="true"></div>
	<div data-package="highscores" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="highscores-system-name" aria-hidden="true"></div>
	<div data-package="audio"></div>
</footer>