/* Gun module CSS */
#knockout{
	background-color: white;
}
.actual_bullet_list{
	/* Depicts a guns ammunition as a list */
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
}
.actual_bullet_list > li{
    float: left;
    width: 12px;
    height: 32px;
    margin: 0;
	padding: 0;
}