<!-- About -->
<div class="modal-header">
	<h3 id="about-system-name">About {{gamename}}</h3>
</div>
<div class="modal-body">
	<p>Information about the game goes here</p>
</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>