/* Selection screen styling */
.hover_char{
	-moz-animation:myfirst 2s infinite; /* Firefox */
	-webkit-animation:myfirst 2s infinite; /* Safari and Chrome */
	-o-animation:myfirst 2s infinite; /* Opera */
}
@keyframes myfirst
{
0%   {background:#555555;}
25%  {background:#777777;}
50%  {background:#AAAAAA;}
100% {background:#CCCCCC;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background:#555555;}
25%  {background:#777777;}
50%  {background:#AAAAAA;}
100% {background:#CCCCCC;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:#555555;}
25%  {background:#777777;}
50%  {background:#AAAAAA;}
100% {background:#CCCCCC;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {background:#555555;}
25%  {background:#777777;}
50%  {background:#AAAAAA;}
100% {background:#CCCCCC;}
}