#marquee_window{
	background-color: #6D6D6D;
	margin-bottom: 2px;
	height: 35px;
	border: 1px dashed lightgrey;
}
.key_hint{
	color: red;
}
.key_expression_press{
	font-weight: bold;
	color: navy;
}
.key_expression_hold{
	font-weight: bold;
	color: orange;
}
.control_instruction{
	display: block;
	margin: 4px;
}

/* Players score, in top left */
#my_points{
	color: black;
}
#my_score{
	font-size: 1.3em;
	color: #5BADAD;
}

/* State styles */
label.current{
	color: seagreen;
}
label{
	padding: 5px;
	font-weight: bold;
}
.toggle_text{
	text-decoration: underline;
	color: #B4B4B4;
	font-size: 1.4em;
}