/* Inventory */
#inventory_window{
	border: 1px solid #DFDFDF;
	display: inline;
	float: right;
	opacity: 0.85;
	margin: 12px 320px 0px 0px;
	padding: 0;
}
#inventory_container{
	border: 1px solid grey;
	background-color: #323232;
	margin: 0;
	padding: 10px;
}
.inventory{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/* Item */
.inventory_item{
	background-color: #212121;
	padding: 0;
	margin: 15px 0 15px 0;
}
.item_name{
	background-color: #6495ED; /* Cornflower blue (HTML colorname) */
	color: #DCDCDC; /* Gainsboro (HTML colorname) */
	margin: 0;
	padding: 2px 0 0 2px;	
}
.item_sprite{
/* Use css sprite for partial image */
	width: 128px;
	height: 155px;
	display: inline-block;
	float: center;
}
.item_actions{
	margin: 0;
	padding: 0;
	display: block;
	clear: both;
}
.item_action{
	text-align: center;
	background-color: #525252;
	padding: 0;
	font-size: 0.75em;
	display: inline-block;
	width: 80px;
	margin: 0;
}
.item_action:link{
	color: red;
}
.item_action:visited{
	color: red;
}
.item_action:hover{
	color: orange;
}
.item_tooltip{
	text-align: right;
	font-size: 0.75em;
	display: inline-block;
	width: 32px;
	margin: 0;
	padding: 0;
	background-color: #5A5A5F;
}
/* Sub-item */
.subitem{
	margin: 0;
	padding: 0px 0px 3px 0px;
	float: left;
}
.subitem_attribute{
	color: #B8860B; /* Dark GoldenRod (HTML colorname) */
	padding: 0 0 2px 5px;
}
.subitem_value{
	color: #FF8C00; /* Dark Orange (HTML colorname) */
	padding: 0 0 2px 0;
}