/* Health MODULE styling */
.player_health{
	display: inline-block;
	width: 250px;
	height: 25px;
	margin: 5px;
}
.player_health_stats{
	margin-top: 9px;
}
#player_purgatory{
	margin: 5px;
}
/* Use to decorate elements of a dead player */
.deceased{
	text-decoration: line-through;
	background-color: darkred;
	color: red;
	font-weight: bold;
	font-size: 1.3em;
}
.dead_status{
	background-color: none;
	font-size: 1em;
	color: yellow;
}
.deceased > span{
	color: black;
}
/* Use to decorate elements of an alive player */
.alive{
	background-color: darkgreen;
	color: lightgreen;
	font-weight: bold;
	font-size: 1.3em;
}
.alive > span{
	color: white;
}
.player_health_unit{
	color: yellow;
}