<div data-package="sitemap"></div>
<div data-package="social" data-options='{"source": "file"}'></div>
<div data-package="about"
	 class="modal fade"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="about-system-name"
	 aria-hidden="true"></div>
<div data-package="gameinfo"
	 class="modal fade"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="gameinfo-system-name"
	 aria-hidden="true"></div>
<div data-package="mainmenu"
	 class="modal fade"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="mainmenu-system-name"
	 aria-hidden="true"></div>
<div data-package="controls"
	 class="modal fade"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="controls-system-name"
	 aria-hidden="true"></div>
<div data-package="contentpack"
	 class="modal fade"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="contentpack-system-name"
	 aria-hidden="true"></div>
<div data-package="theme"
	 class="modal fade"
	 tabindex="-1" 
	 role="dialog"
	 aria-labelledby="theme-system-name"
	 aria-hidden="true"></div>
<div data-package="highscores"
	 class="modal fade"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="highscores-system-name"
	 aria-hidden="true"
	 data-options='{"source": "file"}'></div>
<div data-package="audio"
	 class="modal fade"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="audio-system-name"
	 aria-hidden="true"
	 data-options='{"source": "file"}'></div>